body {
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    height: 600px;
    width: 400px;

    flex-wrap: wrap;
    padding: 20px;
}

.display {
    height: 100px;
    width: 250px;

    border: 3px solid black;

    text-align: right;
}

button {
    height: 50px;
    width: 80px;

    margin: 5px;
}
