body {
    align-items: center;
    justify-content: center;

    font-family: "Lucida Console", monospace;
}

.calc {
    display: flex;
    height: 600px;
    width: 400px;

    flex-wrap: wrap;
    padding: 20px;

    border: 5px solid black;
}

.display {
    height: 100px;
    width: 250px;

    border: 3px solid black;
    padding: 10px;

    text-align: right;
}

.display #displayText {
    margin-top: 15px;

    font-size: 40px;
}

button {
    height: 50px;
    width: 80px;

    margin: 5px;

    font-size: 30px;
}

#AC {
    margin-top: 40px;
    margin-left: 10px;
}
